body {
    /*background-color: red;*/
    font-family: "Gill Sans MT";

}

.green {
    color:green;
}
.txt-center {
    text-align: center;
}

.d-none {
    display: none !important;
}

.orange {
    color: #fd7e14;
}

.vert {
    color: #00ab00;
}

.c-1-color { background: #ca0000 !important; }
.c-2-color { background: #fd7e14 !important; }
.c-3-color { background: #00ab00 !important; }
.c-5-color { background: #ca0000 !important; }
.c-4-color { background: #fd7e14 !important; }



#ex1Slider .slider-selection {
    background: #BABABA;
}

#remoteVideos > video {
    border: green 1px solid;
    max-height: calc(100vh - 150px);
    max-width: calc(100vw - 20px);
    height: 100vh;
    width: auto;
    /*max-width: calc(100vw - 150px);*/
}

.video-ret {
    border: green 1px solid;
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.input-style {
    font-weight: 500;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 2px solid green;
    border-radius: 25px;
    font-size: 15pt;
}

.input-style:focus {

    outline: none !important;
    border:2px solid green;
    box-shadow: 0 0 5px green;
}



.button-style {

    color: green;
    font-size: 15pt;
    font-weight: 600;
    /*background-color: #DE2827;*/
    border-radius: 25px;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 2px solid green;
    padding: 7px 20px 7px 20px;
    cursor: pointer;
}
.button-style:disabled {


    background-color: #eeeeee;

    cursor: not-allowed;
}

.button-style:hover{
    text-decoration: none;
    color: white;
    background-color: green;
    border: 2px solid white;
}

.button-style:focus{
    outline: none !important;
    border:2px solid green;
    box-shadow: 0 0 5px green;
}

@media screen and (max-width: 1200px) {
    .btn {
        font-size: 20pt;
    }




}