* {
    box-sizing:border-box;
}

html, body {
    height: 100%;
    font-family: "Verdana";
    color:green;
}


.dynamique-container {
    display: flex;
    padding: 20px;
}

.dynamique-container > div {
    margin: auto;
}

.dynamique-container > div:first-child {
    width: 45%;
    margin-right: 0px;
    padding: 10px;
    padding-right: 20px;
}

.dynamique-container > div:last-child {
    width: 45%;
    margin-left: 0px;
    padding: 10px;
    padding-left: 20px;
}

#logo, #texte {cursor:pointer}
#info {
    display:none;
    position:absolute;
    left:40%;
    top:20px;
    background:#eee;
    padding:20px;
    border:2px dotted blue
}




.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 30%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.txt-center {
    text-align: center;
}