/* Style the lines by removing the fill and applying a stroke */
.lineA {
    fill: none;
    stroke: #385723;
    stroke-width: 3;
}
.lineC {
    fill: none;
    stroke: #bf9102;
    stroke-width: 3;
}
.lineT {
    fill: none;
    stroke: #5996cf;
    stroke-width: 3;
}

.overlay {
    fill: none;
    pointer-events: all;
}

