/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: green;
    stroke-width: 3;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: green;
    stroke: #fff;
}
.dot:hover {
    fill: #00e800;
    stroke: #00e800;
}