
.p0 .noUi-handle[data-handle="0"] {
    color: #6f42c1;
    background-color: #6f42c1;
}

.p1 .noUi-handle[data-handle="1"] {
    color: #6f42c1;
    background-color: #6f42c1;
}

.p2 .noUi-handle[data-handle="2"] {
    color: #6f42c1;
    background-color: #6f42c1;
}

.p3 .noUi-handle[data-handle="3"] {
    color: #6f42c1;
    background-color: #6f42c1;
}

.p4 .noUi-handle[data-handle="4"] {
    color: #6f42c1;
    background-color: #6f42c1;
}

.p5 .noUi-handle[data-handle="5"] {
    color: #6f42c1;
    background-color: #6f42c1;
}


.purple {
    color: #6f42c1;
}



[disabled] .c-1-color { background: #ca0000 !important; }
[disabled] .c-2-color { background: #fd7e14 !important; }
[disabled] .c-3-color { background: #00ab00 !important; }
[disabled] .c-4-color { background: #fd7e14 !important; }
[disabled] .c-5-color { background: #ca0000 !important; }