
.p0 .noUi-handle[data-handle="0"] {
    color: #6f42c1;
    background-color: #6f42c1;
}

.p1 .noUi-handle[data-handle="1"] {
    color: #6f42c1;
    background-color: #6f42c1;
}

.p2 .noUi-handle[data-handle="2"] {
    color: #6f42c1;
    background-color: #6f42c1;
}

.p3 .noUi-handle[data-handle="3"] {
    color: #6f42c1;
    background-color: #6f42c1;
}

.p4 .noUi-handle[data-handle="4"] {
    color: #6f42c1;
    background-color: #6f42c1;
}

.p5 .noUi-handle[data-handle="5"] {
    color: #6f42c1;
    background-color: #6f42c1;
}


.purple {
    color: #6f42c1;
}

.rappel {
    font-size: small;
}


[disabled] .c-1-color { background: #ca0000 !important; }
[disabled] .c-2-color { background: #fd7e14 !important; }
[disabled] .c-3-color { background: #00ab00 !important; }
[disabled] .c-4-color { background: #fd7e14 !important; }
[disabled] .c-5-color { background: #ca0000 !important; }



section.disabled-range-slider {
    margin: auto;
    position: relative;
    width: 400px;
    height: 10px !important;
    text-align: center;
}

section.disabled-range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 10px !important;
    width: 400px;
    outline: none ;
    height: 10px !important;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #d3d3d3; /* Grey background */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

}

section.disabled-range-slider input:last-child {
    background: transparent; /* Grey background */

}

section.disabled-range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 5px !important; /* Set a specific slider handle width */
    height: 5px !important; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

section.disabled-range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 5px!important;
    height: 5px !important; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: not-allowed; /* Cursor on hover */
}

section.disabled-range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: #d3d3d3;
    border: 0;
}
section.disabled-range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
section.disabled-range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

section.disabled-range-slider .noUi-horizontal {
    height: 10px;
}

section.disabled-range-slider .noUi-horizontal .noUi-handle {
    display: none;

}
